@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><span class="badge bg-secondary">Good Hands Doações</span></h1>


    <a class="btn btn-info" href="/Donation/Create" role="button">Faça um novo cadastro aqui!</a>

    <a class="btn btn-info" href="/Donation/Index" role="button">Faça sua pesquisa e veja as doações cadastradas aqui!</a>
</div>
